<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Chambers Management</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous" />
</head>
<body>
<header>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" th:href="@{/chambres}" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Chambres
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" th:href="@{/chambres/new}">Action</a></li>
                    </ul>
                </li>
            </ul>
        </div>

    </nav>
</header>

<div class="container my-2">
    <div class="row">
        <div class="col">
            <form th:action="@{/chambres/filter2}" method="get">
                <div class="form-group">
                    <label>type:</label>
                    <input type="number" name="etagesf" th:value="${filter1}"/>
                    <button type="submit">Search</button>
                </div>
            </form>
        </div>


        <div class="row mt-4">
            <div class="col">
                <a th:href = "@{/chambres}" class="btn btn-light btn-outline-dark">Erase filters</a>
            </div>
        </div>
    </div>
</div>
<div class="container my-2">
    <h1>Gérer Chambres</h1>
    <hr />
    <a th:href = "@{/chambres/new}" class="btn btn-primary btn-sm mb-3">Ajouter Chambre</a>
    <h2 class="mb-3">Liste Chambres</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Num Chambre</th>
            <th>Nombre Chambre </th>
            <th>Etat Chambre</th>
            <th>Type de chambre</th>

            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="chambre : ${listChambres}">
            <td th:text="${chambre.num}"></td>
            <td th:text="${chambre.nbre}"></td>
            <td th:text="${chambre.etat}"></td>
            <td th:text="${chambre.type}"></td>

            <td><a th:href="@{/chambres/update(id=${chambre.id})}" class="btn btn-primary">Update</a>
                <a th:href="@{/chambres/delete(id=${chambre.id})}" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
    <a th:href = "@{/}" >page d'acceuil</a>
</div>
</body>
</html>