<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="en">
<head>
  <title>index</title>
  <meta charset="UTF-8"/>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous" />
</head>
<body>
<header>

  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
    <!-- Container wrapper -->
    <div class="container-fluid">
      <!-- Toggle button -->
      <button
              class="navbar-toggler"
              type="button"
              data-mdb-toggle="collapse"
              data-mdb-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>

      <!-- Collapsible wrapper -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- Navbar brand -->
<!--        <a class="navbar-brand mt-2 mt-lg-0" href="#">-->
<!--          <img-->
<!--                  src="C:/Users/admin/Desktop/G7_ManageHotel/src/main/java/com/example/g7_managehotel/style/img/LOGO.png"-->
<!--                  height="15"-->
<!--                  alt="hmt Logo"-->
<!--                  loading="lazy"-->
<!--          />-->
<!--        </a>-->
        <!-- Left links -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" th:href="@{/}">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/chambres}">Chambres</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/reservations}">Reservations</a>
          </li>
        </ul>
        <!-- Left links -->
      </div>
      <!-- Collapsible wrapper -->

      <!-- Right elements -->
      <div class="d-flex align-items-center">
        <!-- Icon -->
        <a class="link-secondary me-3" href="#">
          <i class="fas fa-shopping-cart"></i>
        </a>

        <!-- Notifications -->
          <div class="d-flex align-items-center">
            <a class="btn btn-link px-3 me-2" th:href = "@{/login}">
              Login
            </a>
            <a class="btn btn-primary me-3" th:href = "@{/user_form}" >
              Sign up for free
            </a>
          </div>
      </div>
      <!-- Right elements -->
    </div>
    <!-- Container wrapper -->
  </nav>
  <!-- Navbar -->
</header>
<br>
<div class="container" >
<!--  </marquee>-->
  <h1>HOTEL MANAGEMENT</h1>

</div>
</body>
</html>