<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="en">
<head>
    <title>Manage hotel</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous" />
</head>
<body>
<header>

    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
        <!-- Container wrapper -->
        <div class="container-fluid">
            <!-- Toggle button -->
            <button
                    class="navbar-toggler"
                    type="button"
                    data-mdb-toggle="collapse"
                    data-mdb-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
            >
                <i class="fas fa-bars"></i>
            </button>

            <!-- Collapsible wrapper -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!-- Navbar brand -->
                <!--        <a class="navbar-brand mt-2 mt-lg-0" href="#">-->
                <!--          <img-->
                <!--                  src="C:/Users/admin/Desktop/G7_ManageHotel/src/main/java/com/example/g7_managehotel/style/img/LOGO.png"-->
                <!--                  height="15"-->
                <!--                  alt="hmt Logo"-->
                <!--                  loading="lazy"-->
                <!--          />-->
                <!--        </a>-->
                <!-- Left links -->
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/}">HOME</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/chambres}">Chambres</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/reservations}">Reservations</a>
                    </li>
                </ul>
                <!-- Left links -->
            </div>
            <!-- Collapsible wrapper -->

            <!-- Right elements -->
            <div class="d-flex align-items-center">
                <!-- Icon -->
                <a class="link-secondary me-3" href="#">
                    <i class="fas fa-shopping-cart"></i>
                </a>

                <!-- Notifications -->
                <div class="d-flex align-items-center">
                    <a class="btn btn-link px-3 me-2" th:href = "@{/login}">
                        Connexion
                    </a>
                    <a class="btn btn-primary me-3" th:href = "@{/users/New}" >
                        S'inscrire
                    </a>
                </div>
            </div>
            <!-- Right elements -->
        </div>
        <!-- Container wrapper -->
    </nav>
    <!-- Navbar -->
</header>
<br>
<div class="container">
    <h1>Manage Hotel</h1>
    <hr />
    <h2>New RESERVATION</h2>

    <form action="#" th:action="@{/reservations/saveNew}" th:object="${reservation}" method="POST">

        <div class="mb-4 col-4">
            <label th:for="nbre_personne">nombre de personne</label>
            <input type="number" min="1" max ="5" th:field="*{nbre_personne}" placeholder="nombre personnes" required class="form-control" />
            <span class="text-danger" th:errors="*{nbre_personne}"></span>
        </div>

        <div class="mb-4 col-4">
            <label th:for="date">date</label>
            <input type="date" th:field="*{date}" placeholder="dd-mm-yyyy" required class="form-control" />
            <span class="text-danger" th:errors="*{date}"></span>
        </div>
        <div class="mb-4 col-4">
            <label th:for="chambre">numero chambre</label>

            <select class="form-control" th:field="*{chambre}">
                <option th:value="0">Select Chambre</option>
                <option th:each="chambr : ${listChambres}"
                        th:value="${chambr.id}"
                        th:text="${chambr.num_chambre}"></option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary col-2">Enregistrer</button>
        <a th:href = "@{/reservations}" class="btn btn-danger col-2">Annuler</a>
    </form>

    <hr />
</div>
</body>
</html>