<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="en">
<head>
    <title>Manage Hotel</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous" />
</head>
<body>
<header>

    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
        <!-- Container wrapper -->
        <div class="container-fluid">
            <!-- Toggle button -->
            <button
                    class="navbar-toggler"
                    type="button"
                    data-mdb-toggle="collapse"
                    data-mdb-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
            >
                <i class="fas fa-bars"></i>
            </button>

            <!-- Collapsible wrapper -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!-- Navbar brand -->
                <!--        <a class="navbar-brand mt-2 mt-lg-0" href="#">-->
                <!--          <img-->
                <!--                  src="C:/Users/admin/Desktop/G7_ManageHotel/src/main/java/com/example/g7_managehotel/style/img/LOGO.png"-->
                <!--                  height="15"-->
                <!--                  alt="hmt Logo"-->
                <!--                  loading="lazy"-->
                <!--          />-->
                <!--        </a>-->
                <!-- Left links -->
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/}">HOME</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/chambres}">Chambres</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/reservations}">Reservations</a>
                    </li>
                </ul>
                <!-- Left links -->
            </div>
            <!-- Collapsible wrapper -->

            <!-- Right elements -->
            <div class="d-flex align-items-center">
                <!-- Icon -->
                <a class="link-secondary me-3" href="#">
                    <i class="fas fa-shopping-cart"></i>
                </a>

                <!-- Notifications -->
                <div class="d-flex align-items-center">
                    <a class="btn btn-link px-3 me-2" th:href = "@{/login}">
                        Connexion
                    </a>
                    <a class="btn btn-primary me-3" th:href = "@{/users/New}" >
                        S'inscrire
                    </a>
                </div>
            </div>
            <!-- Right elements -->
        </div>
        <!-- Container wrapper -->
    </nav>
    <!-- Navbar -->
</header>
<br>
<!--<header>-->
<!--    <div class="container">-->
<!--        <nav class="navbar navbar-expand-lg navbar-blue bg-blue">-->

<!--            <div class="collapse navbar-collapse" id="navbarNavDropdown">-->
<!--                <a class="navbar-brand" href="#" th:href="@{/}">inscription et connection-->
<!--                </a>-->
<!--                <a class="nav-link dropdown-toggle" th:href="@{/reservations}" role="button" data-bs-toggle="dropdown" aria-expanded="false">-->
<!--                    Reservations-->
<!--                </a>-->
<!--            </div>-->
<!--        </nav>-->
<!--    </div>-->
<!--</header>-->
<!--<br>-->
<div class="container">
    <h1>Manage Hotel</h1>
    <hr />
    <h2>Nouvelle Chambre</h2>


    <form action="#" th:action="@{/chambres/saveNew}" th:object="${chambre}" method="POST">

        <div class="mb-4 col-4">
            <label th:for="num_chambre">numero de chambre</label>
            <input type="number" min="1000" max="4000" th:field="*{num_chambre}" placeholder="n 1000"  required class="form-control" />
            <span class="text-danger" th:errors="*{num_chambre}"></span>
        </div>
        <div class="mb-4 col-4">
            <label th:for="nbre_place">nombre place</label>
            <input type="number" min="1" max="10" th:field="*{nbre_place}" placeholder="maximum 10" required class="form-control" />
            <span class="text-danger" th:errors="*{nbre_place}"></span>
        </div>
        <div class="mb-4 col-4">

            <label th:for="etat">ETAT chambre</label>
            <select th:field="*{etat}" class="form-control">
                <option value="Jacuzzi Privatif">Jacuzzi Privatif</option>
                <option value="Piscine Privée">Piscine Privée</option>
                <option value="Nuit Insolite">Nuit Insolite</option>
                <option value="Dormir Dans Une Bulle">Dormir Dans Une Bulle</option>
                <option value="Miroir Au Plafond">Miroir Au Plafond</option>
            </select>
            <span class="text-danger" th:errors="*{etat}"></span>
        </div>

        <div class="mb-4 col-4">
            <label th:for="type">type</label>
            <select th:field="*{type}" class="form-control">
                <option value="luxe">luxe</option>
                <option value="classique">classique</option>
                <option value="Confort">Confort</option>
                <option value="economique">economique</option>
                <option value="familiale">familiale</option>
            </select>
            <span class="text-danger" th:errors="*{type}"></span>
        </div>

        <div>
            <button type="submit" class="btn btn-primary col-2">Enregistrer</button>
            <a th:href = "@{/chambres}" class="btn btn-danger col-2">Annuler</a>
        </div>
    </form>

    <hr />

</div>
</body>
</html>
