<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="en">
<head >
    <title>index</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous" />
</head>
<body >
<header>

    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
        <!-- Container wrapper -->
        <div class="container-fluid">
            <!-- Toggle button -->
            <button
                    class="navbar-toggler"
                    type="button"
                    data-mdb-toggle="collapse"
                    data-mdb-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
            >
                <i class="fas fa-bars"></i>
            </button>

            <!-- Collapsible wrapper -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!-- Navbar brand -->
                <!--        <a class="navbar-brand mt-2 mt-lg-0" href="#">-->
                <!--          <img-->
                <!--                  src="C:/Users/admin/Desktop/G7_ManageHotel/src/main/java/com/example/g7_managehotel/style/img/LOGO.png"-->
                <!--                  height="15"-->
                <!--                  alt="hmt Logo"-->
                <!--                  loading="lazy"-->
                <!--          />-->
                <!--        </a>-->
                <!-- Left links -->
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/}">HOME</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/chambres}">Chambres</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/reservations}">Reservations</a>
                    </li>
                </ul>
                <!-- Left links -->
            </div>
            <!-- Collapsible wrapper -->

            <!-- Right elements -->
            <div class="d-flex align-items-center">
                <!-- Icon -->
                <a class="link-secondary me-3" href="#">
                    <i class="fas fa-shopping-cart"></i>
                </a>

                <!-- Notifications -->
                <div class="d-flex align-items-center">
                    <a class="btn btn-link px-3 me-2" th:href = "@{/login}">
                        Connexion
                    </a>
                    <a class="btn btn-primary me-3" th:href = "@{/users/New}" >
                        S'incrire
                    </a>
                    <a class="btn btn-primary me-3" th:href = "@{/logout}" >
                        deconnexion
                    </a>
                </div>
            </div>
            <!-- Right elements -->
        </div>
        <!-- Container wrapper -->
    </nav>
    <!-- Navbar -->
</header>
<br>
<div class="container my-2">
    <div class="row">
      <div class="col">
        <form th:action="@{/reservations/filter1}" method="get">
            <div class="form-group">
                <label>Utilisateurs:</label>
                <select name="user" >
                    <option th:value="0">Select l'utisateur</option>
                    <option th:each="us : ${listUsers}"
                            th:value="${us.id}"
                            th:text="${us.username}" th:selected="${us.id}==${filter1}"></option>
                </select>
                <button type="submit">Search</button>
            </div>
        </form>
      </div>
   </div>
   <div class="row mt-4">
    <div class="col">
        <a th:href = "@{/reservations}" class="btn btn-light btn-outline-dark">Erase filters</a>
    </div>
   </div>


    <h1>gestion de reservations</h1>
    <hr />
    <a th:href = "@{/reservations/new}" class="btn btn-primary btn-sm mb-3">Nouvelle Reservation</a>
    <h2 class="mb-3">Liste Reservations</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>numero chambre</th>
            <th>nombre de personnes</th>
            <th>date</th>
            <th>personne</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="reservation : ${listReservations}">
            <td th:text="${reservation.chambre.num_chambre}"></td>
            <td th:text="${reservation.nbre_personne}"></td>
            <td th:text="${#calendars.format(reservation.date,'dd/MM/yyyy')}"></td>
            <td th:text="${reservation.user.username}"></td>
            <td><a th:href="@{/reservations/update(id=${reservation.id})}" class="btn btn-primary">Modifier</a>
                <a th:href="@{/reservations/delete(id=${reservation.id})}" class="btn btn-danger">Supprimer</a></td>
        </tr>
        </tbody>
    </table>
    <a th:href = "@{/reservations}">retour</a>
</div>
</body>
</html>

